@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: 0, 0%, 100%;
    --bg-secondary: 231, 69%, 60%;
    --bg-tertiary: 229, 31%, 21%;
    --bg-accent: 0, 94%, 66%;

    --text-primary: 229, 8%, 60%;
    --text-secondary: 229, 31%, 21%;
    --text-tertiary: 0, 0%, 100%;

    --border-primary: 0, 0%, 0%, 0.13;
    --border-secondary: 0, 100%, 100%, 0.14;

    --error: 0, 94%, 66%;
    --shadow: 229, 31%, 21%, 0.2;
  }

  body {
    @apply bg-primary font-default text-[0.9375rem] leading-[1.5625rem] text-primary lg:text-lg;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium text-secondary;
  }

  h1 {
    @apply text-3xl leading-10 lg:text-5xl lg:leading-[3.25rem];
  }

  h2,
  h3 {
    @apply text-2xl leading-[1.875rem] lg:text-[2rem] lg:leading-[2.375rem];
  }
}
